.Home {
  background: #fafaff;
  width: 100;
  min-height: fit-content;
}

.hand {
  max-width: 700px;
  width: 14.6rem;
  margin-bottom: 2rem;
}

.land {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2rem auto;
  flex-wrap: wrap-reverse;
  padding-bottom: 1.25rem;
}

.land-title {
  font-size: 1.75rem;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

.land-subtitle {
  margin: 0px;
}

.highlight {
  color: #685dbb;
}

.land-link {
  display: inline-flex;
  justify-content: center;
  color: #fafaff;
  background: #685dbb;
  border: 2px solid #685dbb;
  cursor: pointer;
  font-size: 0.5rem;
  font-weight: 400;
  width: 3.25rem;
  margin: 0.5rem auto 0.5rem auto;
  transition: all 0.15s ease;
  line-height: 0.5rem;
  padding: 0.23rem 1rem 0.23rem 1rem;
  border-radius: 0.1rem;
}

.land-link:hover {
  font-weight: 600;
  color: #685dbb;
  background: #fafaff;
}

.grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  justify-content: center;
  align-items: center;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 12px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.icons {
  display: inline-flex;
  vertical-align: top;
}
