.Projects {
  background: #fafaff;
  width: 100;
  min-height: fit-content;
}

.proj {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.rv {
    flex-wrap: wrap-reverse;
}

.fr {
    flex-wrap: wrap;
}
