:root {
  --yellow: #ffd941;
  --purple: #6552f5;
  --grey: #757384;
  --light-grey: #eeeeee;
  --dark-grey: #293241;
  --clear: rgba(0, 0, 0, 0);
}

.App {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #ffffff;
  overflow: hidden;
  font-family: "Poppins";
  background-image: url("./media/color\ splotches.svg");
  background-size: 100rem;
  background-repeat: repeat-y;
  background-position: center;
}

.page {
  min-height: 60rem;
  margin: 2rem;
}

.about {
  margin-top: 60vh;
}

.content {
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.logo {
  margin-top: 10rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.specialLeft {
  margin-top: 1.5rem;
  justify-content: flex-start;
  align-items: center;
}

.btn {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin: 1rem;
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: translateY(-4px);
}

.social {
  font-size: 1rem;
  color: var(--grey);
  border: 1px solid var(--light-grey);
  padding: 0.5rem;
  margin: 0.5rem;
}

.yellow {
  color: #293241;
  background-color: var(--yellow);
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  box-shadow: 5px 10px 30px rgba(255, 217, 65, 0.5);
}

.pill {
  border-radius: 2rem;
}

.rounded {
  border-radius: 0.75rem;
}

.flip {
  transform: scaleX(-1);
}

.arrow {
  display: block;
  margin: auto;
}

p {
  font-size: 1rem;
  color: var(--grey);
  max-width: 600px;
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .spacer {
    gap: 0rem;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 18px;
  }

  .spacer {
    gap: 2rem;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }

  .spacer {
    gap: 4rem;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  html {
    font-size: 22px;
  }

  .spacer {
    gap: 6rem;
  }
}
