.App {
  text-align: center;
  width: 100;
  min-height: fit-content;
  overflow: hidden;
  font-family: "Nunito";
  font-weight: 800;
}

h1 {
  color: #221e41;
  font-size: 1.75rem;
}

h2 {
  color: #685dbb;
  font-size: 1rem;
}

p {
  color: #221e41;
  font-size: 0.9rem;
}

a {
  color: #685dbb;
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 300px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 24px;
  }

  @media screen and (orientation:landscape) {
    html {
      font-size: 20px;
    }

    .about-txt {
      text-align: justify;
    }
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 30px;
  }

  .about-txt {
    text-align: justify;
  }

  @media screen and (orientation:landscape) {
    html {
      font-size: 24px;
    }
  }
}

@media only screen and (min-width: 1000px) {
  html {
    font-size: 28px;
  }

  .about-txt {
    text-align: justify;
  }

  @media screen and (min-width: 1300px) and (orientation:landscape) {
    html {
      font-size: 36px;
    }
  }
}

@media only screen and (min-width: 1400px) {
  html {
    font-size: 48px;
  }

  .about-txt {
    text-align: justify;
  }
}
