.projects {
  min-width: 100%;
  min-height: 100%;
}

.proj-link:hover {
  color: #b8b8b8;
}

.proj {
  margin: 15em 2em 5em 2em;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.proj-img {
  display: block;
  margin: auto;
  width: 80%;
  max-width: 1000px;
  min-width: 260px;
}
