.projects {
  min-width: 100%;
  min-height: 100%;
}

.proj-link:hover {
  color: #b8b8b8;
}

.proj {
  margin: 15em 2em 5em 2em;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.proj-img {
  display: block;
  margin: auto;
  width: 80%;
  max-width: 1000px;
  min-width: 260px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  min-width: 120px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  margin: 1rem;
  transition: 0.3s ease;
  outline: none;
  color: #4d575c;
  border: 1px solid #dedede;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 5%;
}

.grid-search {
  margin: 2rem 4rem 0rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.search-btn {
  font-family: "Raleway";
  letter-spacing: 0.5px;
  font-weight: 500;
  border-radius: 4px;
  font-size: 1.25rem;
  min-width: 120px;
  margin: 1rem 2rem 1rem 2rem;
  display: flex;
  justify-content: center;
}

.search-btn:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0);
}

.ReactJS {
  text-align: center;
  border: none;
  background-color: #81d4fa;
  color: #0a4979;
}

.ReactJS:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0);
}

.FuseJS {
  border: none;
  background-color: #9fa8da;
  color: #283593;
}

.FuseJS:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0);
}

.Figma {
  border: none;
  background-color: #b39ddb;
  color: #512da8;
}

.Figma:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0);
}

.NextJS {
  border: none;
  background-color: #80cbc4;
  color: #004d40;
}

.NextJS:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0);
}

.ChartJS {
  border: none;
  background-color: #a5d6a7;
  color: #004d40;
}

.ChartJS:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0);
}

.am4Charts {
  border: none;
  background-color: #e6ee9c;
  color: #827717;
}

.am4Charts:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0);
}

.HTML {
  border: none;
  background-color: #ffcc80;
  color: #ff5722;
}

.HTML:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0);
}

.CSS {
  border: none;
  background-color: #ef9a9a;
  color: #c62828;
}

.CSS:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0);
}

.JavaScript {
  border: none;
  background-color: #f48fb1;
  color: #ad1457;
}

.JavaScript:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0);
}

.MaterialUI {
  border: none;
  background-color: #ce93d8;
  color: #4a148c;
}

.MaterialUI:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0);
}

.Heroku {
  border: none;
  background-color: #90caf9;
  color: #1565c0;
}

.Heroku:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0);
}

.Google {
  border: none;
  background-color: #e0e0e0;
  color: #757575;
}

.Google:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0);
}