.light {
  --background: #ffffff;
  --text-main: #221e41;
  --highlight: #6552f5;
  --resume: rgba(101, 82, 245, 0.1);
  --mobile-nav-bg: #efedfece;
  --code: #6552f53b;
}

.dark {
  --background: #191919;
  --text-main: #f2f0ff;
  --highlight: #6552f5;
  --resume: rgba(242, 240, 255, 0.03);
  --mobile-nav-bg: #202020ee;
  --code: #6552f538;
}
